<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Laborator1.Properties.Settings.cabinet_vetConnectionString"
            connectionString="Data Source=ALLEN-WALKER\SQLEXPRESS01;Initial Catalog=cabinet_vet;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>